$marg-pad-size: 7px 20px 0 15px 5px 12px 40px;
$text-style: (
    heading:
    (
        font-fam: $font-style-heading,
        font-size: 1.5rem,
        padding: nth($marg-pad-size, 2) nth($marg-pad-size, 3),
    ),
    text:
    ( 
        font-fam: $font-style-text,
    ),
    bold:
    (
        font-weight: bold,
    )
);
$box-shadow: (
    lighter: 
    (
        box-shadow: 0 3px 6px 0 darken($color-quaternary, 15%),
    ),
    darker: 
    (
        box-shadow: 0 3px 9px 0 darken($color-quaternary, 35%),
    ),
    hover:
    (
        box-shadow: 0 6px 12px 0 darken($color-quaternary, 40%),
    )
);
