@mixin flex-center
{
    display: flex;
    align-items: center;
    justify-content: center;
}
@mixin links($color: black)
{
    color: $color;
    text-decoration: none;
}
@mixin text-style($type){
    $style: map-get($text-style, $type);
    font-family: map-get($style, font-fam);
    font-size: map-get($style, font-size);
    padding: map-get($style, padding);
    font-weight: map-get($style, font-weight);
}
@mixin shadow($type){
    $style: map-get($box-shadow, $type);
    box-shadow: map-get($style, box-shadow);
}
@mixin btn 
{
    color: white;
    background: $btn-color;
    padding: nth($marg-pad-size, 6) nth($marg-pad-size, 3);
    border-radius: nth($marg-pad-size, 2);
    border: none;
    @include shadow(darker);
}
@mixin btn-hover
{
    @include shadow(hover);
    background: $btn-color-hover;
}
@mixin tablette_and_desktop
{
    @media screen and (min-width: 577px)
    {
        @content;
    }
}
@mixin tablette
{
    @media screen and (min-width: 577px) and (max-width: 992px)
    {
        @content;
    }
}
@mixin desktop
{
    @media screen and (min-width: 993px)
    {
        @content;
    }
}
@mixin images
{
    object-fit: cover;
    width: 100%;
    @include tablette_and_desktop
    {
        height: 100%;
    }
}