$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-quaternary: #f6f6f6;
$color-selection: #8edec9;
$font-style-heading: 'Shrikhand', cursive;
$font-style-text: 'Roboto', sans-serif;
$btn-color: linear-gradient(180deg, $color-secondary 0%, $color-primary 100%);
$heart-color: linear-gradient(180deg, $color-primary 0%, $color-secondary 100%);
$btn-color-hover: linear-gradient(180deg, lighten($color-secondary, 4%) 0%, lighten($color-primary, 4%) 100%);
$num-blocks: 14;
$anim-dur: 1000ms;
$anim-delay: $anim-dur / $num-blocks;
$anim2-dur: 3s;