$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-quaternary: #F2F2F2;
$font-style-heading: 'Shrikhand', cursive;
$font-style-text: 'Roboto', sans-serif;
$marg-pad-size: 7px 20px 0 15px 5px 12px 40px;