@media screen and (max-width: 993px)
    {
        @for $i from 1 through 8 {
            #heart#{$i}:checked + .fa-heart {
               animation: heart 250ms linear;
               animation-fill-mode: forwards;
            }
        }
    }
    @media screen and (min-width: 993px)
    {
        @for $i from 1 through 8 {
            #heart#{$i}:hover + .fa-heart {
               animation: heart 250ms linear;
               animation-fill-mode: forwards;
            }
        }
    }


.fa-check-circle-father
{
    color: white;
    background-color: $color-selection;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;   
    width: 60px;
    text-align: center;
    font-size: 1.7em;
    line-height: 65px;
    height: 65px;
    border-radius: 0 nth($marg-pad-size, 4) nth($marg-pad-size, 4) 0;
    transform: scaleX(0); 
    height: 100%;
}
.main__form__checkbox:checked
{
    & + .fa-check-circle-father
    {
        display: block;
        transform-origin: right; 
        transform: scaleX(1); 
        transition: transform 250ms;
        & > .fa-check-circle
        {
            transform: rotate(360deg);
            transition: transform 1000ms;
        }
        & ~ .main__form__choice__subtitle > .prix
        {
            transform: translateX(-60px);
            transition: transform 250ms;
        }
        & ~ .main__form__choice__subtitle > .main__form__choice__subtitle__description
        {
            width: 200px;
            text-overflow: ellipsis; 
            overflow: hidden;
            white-space: nowrap;
        }
    }
}

.apparition
{
    transform: scaleY(0);
    animation: apparition-prog $anim-dur ease-in-out;
    animation-fill-mode: forwards;
    transform-origin: bottom;
        @for $i from 1 through $num-blocks {
            &--#{$i} {
                animation-delay: $anim-delay * $i;
             }
        }
}
.loader
{
    animation: loading-spinner $anim2-dur;
    transform-origin: top;
    animation-delay: 3s;
    animation-fill-mode: forwards;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
    @include flex-center;
    align-items: flex-start;
    & i
    {
        font-weight: bold;
        color: $color-primary;
        margin: 20px;
        margin-top: 150px;
        font-size: 5em;
        animation: hearts $anim2-dur backwards infinite linear;
        animation-direction: alternate;
    }
}