$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-quaternary: #F2F2F2;
$font-style-heading: 'Shrikhand', cursive;
$font-style-text: 'Roboto', sans-serif;
$marg-pad-size: 7px 20px 0 15px 5px 12px 40px;

@mixin flex-center
{
    display: flex;
    align-items: center;
    justify-content: center;
}
@mixin links($color: black)
{
    color: $color;
    text-decoration: none;
}
@mixin images
{
    object-fit: cover;
    width: 100%;
}
$text-style: (
    heading:
    (
        font-fam: $font-style-heading,
        font-size: 1.5rem,
        padding: nth($marg-pad-size, 2) nth($marg-pad-size, 3),
    ),
    text:
    ( 
        font-fam: $font-style-text,
    ),
    bold:
    (
        font-weight: bold,
    )
);
@mixin text-style($type){
    $style: map-get($text-style, $type);
    font-family: map-get($style, font-fam);
    font-size: map-get($style, font-size);
    padding: map-get($style, padding);
    font-weight: map-get($style, font-weight);
}
html
{
    font-size: 1rem;
    box-sizing: border-box;
}
body
{
    @include text-style(text);
}
*
{
    box-sizing: inherit;
}
.header
{
    @include flex-center;
    padding: nth($marg-pad-size, 1) nth($marg-pad-size, 3);
    &__arrow
    {
        transform: translateX(-40px);
        @include links;
    }
}
.main
{
    background-color: $color-quaternary;
    &__img-container
    {
        height: 240px;
        overflow: hidden;
        &__image
    {
        @include images;
        &--note-enchantee
        {

            transform: translateY(-95px);
        }
    }
    
    }
    &__section
    {
        background-color: $color-quaternary;
        transform: translateY(-40px);
        border-radius: nth($marg-pad-size, 2) nth($marg-pad-size, 2) nth($marg-pad-size, 3) nth($marg-pad-size, 3);
        padding: nth($marg-pad-size, 4);
    }
    &__h1
    {
        @include text-style(heading);
        @include flex-center;
        justify-content: space-between;
        &__checkbox
        {
            display: none;
        }
    }
    &__h2
    {
        padding-bottom: nth($marg-pad-size, 5);
        
    }
    &__border
    {
        border-bottom: 3px solid $color-tertiary;
        width: 40px;
        margin-bottom: nth($marg-pad-size, 4);
    }
    &__form
    {
        &__choice
        {
            background-color: white;
            margin: nth($marg-pad-size, 4) nth($marg-pad-size, 3);
            padding: nth($marg-pad-size, 4);
            border-radius: nth($marg-pad-size, 4);
            &__title
            {
                margin-bottom: nth($marg-pad-size, 5);
            }
            &__subtitle
            {
                @include flex-center;
                justify-content: space-between;
            }
            &__bold-child
            {
                @include text-style(bold);
            }
        }
        &__checkbox, .fa-check-circle
        {
            display: none;
        }
        &__btn
        {
            display: block;
            margin: auto;
            color: white;
            background: linear-gradient(180deg, rgba(255,121,218,1) 0%, rgba(147,86,220,1) 100%);
            padding: nth($marg-pad-size, 6) nth($marg-pad-size, 3);
            margin-top: nth($marg-pad-size, 7);
            border-radius: nth($marg-pad-size, 2);
            border: none;
            width: 150px;
        }
    }   
}
.footer
    {
        background-color: #22262A;
        padding: nth($marg-pad-size, 4);
        &__logo
        {
            padding: nth($marg-pad-size, 4);
            width: 150px;
        }
        &__li
        {
            padding: nth($marg-pad-size, 5) nth($marg-pad-size, 4);
            &__link
            {
                @include links(white);
                &__icon
                {
                    margin-right: nth($marg-pad-size, 1);
                }
            }
        }
    }