.main
{
    background-color: $color-quaternary;
    &__img-container
    {
        height: 240px;
        overflow: hidden;
        @include tablette_and_desktop
        {
            height: 400px;
        }
        &__image
    {
        @include images;
        &--note-enchantee
        {

            transform: translateY(-95px);
            @include tablette_and_desktop
            {
                transform: translateY(0);
            }
        }
        
    }
    
    }
    &__section
    {
        background-color: $color-quaternary;
        transform: translateY(-40px);
        border-radius: nth($marg-pad-size, 2) nth($marg-pad-size, 2) nth($marg-pad-size, 3) nth($marg-pad-size, 3);
        padding: nth($marg-pad-size, 4);
    }
    &__h1
    {
        @include text-style(heading);
        @include flex-center;
        justify-content: space-between;
        &__checkbox
        {
            display: none;
        }
    }
    &__h2
    {
        padding-bottom: nth($marg-pad-size, 5);
        
    }
    &__border
    {
        border-bottom: 3px solid $color-tertiary;
        width: 40px;
        margin-bottom: nth($marg-pad-size, 4);
    }
    &__form
    {
        &__choice
        {
            background-color: white;
            margin: nth($marg-pad-size, 4) nth($marg-pad-size, 3);
            padding: nth($marg-pad-size, 4);
            border-radius: nth($marg-pad-size, 4);
            height: 100%;
            position: relative;
            @include shadow(lighter);
            &__title
            {
                margin-bottom: nth($marg-pad-size, 5);
            }
            &__subtitle
            {
                @include flex-center;
                justify-content: space-between;
                & > .prix
                {
                    width: 20px;
                }
            }
            &__bold-child
            {
                @include text-style(bold);
            }
        }
        &__checkbox
        {
            display: none;
            & ~ .main__form__choice__subtitle > .main__form__choice__subtitle__description
            {
                width: 220px;
                padding: 2px;
                @include tablette_and_desktop
                        {
                            width: 400px;
                        }
            }
        }
    }   
}